@import url("colors.css");

body {
    background-color: var(--dark);
    color:white;
    text-align: center;
}

.cabecalho {
    text-align: right;
    margin-top:15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: right;
    vertical-align: middle;
}

.space {
    padding-top:15px;
}

.cabecalhogeral_image {
    width:35px;
    height:25px;
    padding-left: 1%;
}

.usuario_botao {
    text-align: center;
    color: white;
    border: none;
    background: none;
    font-size: 18px;
    margin-bottom:0;
    padding-bottom:10px
}

.gamediv {
    text-align: center;
    justify-content: center;
    width:70%;
    max-width: 1200px;
}

.title {
    text-align: left;
    font-size:30px;
    font-weight: bold;
}

.flexcontainer {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.carrosel {
    width: 600px;
}

.margin0 {
    margin:0;
}

#margin0 {
    margin:0;
}

.conteudo {
    width:80%;
    max-width: 1200px;
}

.informacoes {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.desc {
    text-align: justify;
}

.btndiv {
    display:flex;
    flex-direction: row;
}

.btnmg {
    margin-right: 25px;
}

.sobre {
    text-align: left;
    margin-bottom: 0;
    margin-top:10px;
    font-size:18px;
    font-weight: 600;
}

.lineh {
    background-color: white;
    height:1px;
    margin-top:10px;
    margin-bottom:10px;
}

.alg {
    margin-left:12px;
}

.divcompra {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.oferta {
    color:black;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:15px;
    height:80px;
}

.titleoferta {
    font-size: 24px;
    font-weight: 500;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding:20px;
    padding-left: 40px;
    padding-right:40px;
}

.windows {
    height:24px;
}

.comprar {
    margin-left:5px;
    font-weight: bold;
    background-color: var(--purple);
    border-color: var(--purple);
    color:white
}

.comprar:hover {
    background-color: var(--lightpurple);
    border-color: var(--lightpurple);
    color:white;
}

.preco {
    color:white;
    background-color: black;
    font-weight: 500;
    width: 180px;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
    margin-top:-10px;
    border-radius: 10px;
    height:50px;
    padding:5px;
}

.algrg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.valor {
    padding-top:6px;
}

.containerofertas {
    display:flex;
    flex-direction: row;
}

.divofertas {
    width: 100%;
}

.divinfo {
    padding-top: 24px;
    width: 420px;
    margin-left: 20px;
}

table {
    font-size:14px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    color: white;
  }
  
  th {
    background-color: var(--purple);
  }
  
  tr {
    border-bottom: 1px solid #808080;
  }

.idiomastitle {
    text-align: left;
}

.requisitos-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #191919;
    color: white;
    border-radius: 8px;
  }

  .requisitos {
    width: 48%;
  }

  .requisitos h2 {
    background-color: #6100C2;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
  }

  .requisitos ul {
    list-style-type: none;
    padding: 0;
  }

  .requisitos ul li {
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .requisitos ul li:last-child {
    border-bottom: none;
  }

  .requisitos ul li b {
    font-weight: bold;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
    top: 0;
    right: 0;
    background-color: dark;
    padding: 10px;
    z-index: 999;
    width: 450px;
    height:auto;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.search-input {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    border:none;
    outline: none;
}

.close-btn {
    color: dark;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border:none;
    background-color: rgba(162, 0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

.modal-dialog {
    max-width: 400px;
}

.modal-header {
    background-color: #6100C2;
    color: white;
}

.modal-footer {
    background-color: #f1f1f1;
}

button {
    background-color: var(--dark);
    border:none;
}