@import url('colors.css');

body {
    background-color: var(--dark);
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.titulo_login {
    font-family:sans-serif;
    text-align: center;
    font-size: 220%;
    color:white;
}

form {
    text-align: center;
}

.campo {
    color:var(--dark);
    border:none;
    border-color: transparent;
    outline: none;
    font-size-adjust: inherit;
    background-color:transparent;
    color:white;
    margin-left: 8%;
    margin-right:8%;
    width:84%;
}

.botao_login {
    text-align:center;
    margin-top:3%;
    color:var(--dark);
    border-radius:2px;
    font-size:18px;
    font-weight:bold;
    padding: 1%;
    background-color: var(--lightpurple);
    color: white;
    border: none;
    cursor: pointer;
    margin:2%;
    width:15%;
    max-width: 100px;
    color:var(--dark);
}

.quadro {
    padding-top: 3%;
    padding-bottom: 6%;
    text-align: justify;
    width: 30%;
    height:auto;
    margin: 0 auto;
    background-color: black;
    border-radius:8px;
}

.linha1 {
    width: 84%;
    margin-bottom: 5%;
}

.linha2 {
    width: 84%;
    margin-bottom: 1%;
}

.linha3 {
    height: 1px;
    background-color: white;
}

.esqueci {
    margin-top: 0;
    font-family: sans-serif;
    font-size:12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left:8%;
}

.criarConta {
    color:white;
    font-weight: bold;
    text-align: center;
    width:100%;
    font-family: sans-serif;
    font-size:12px;
    padding-bottom: 10%;
}

.criar {
    display: inline-block;
}

.criarLink {
    text-decoration:none;
    display: inline-block;
    color:var(--lightpurple);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}

#rod {
    width: 100%;
    align-items: center;
    margin-bottom:0;
    height:10%;
}

.rodape-tu {
    width: 100%;
    margin-bottom: 0;
}

.direitos {
    width: 100%;
    text-align: center;
    color:white;
    margin-right: 50%;
}
.politica {
    color:white;
    width: 100%;
    text-align: center;
}


@media(max-width: 600px){
    .quadro {
        width: 90%;
        margin: auto;
        transition: width .5s ease;
    }
}

@media(max-width: 500px){
    .direitos {
        margin-right: 25%;
    }
}

@media(max-width: 400px){
    .direitos {
        margin: 30%;
    }
}

@media(max-width: 300px){
    .direitos {
        margin: 20%;
    }
}
