@import url("colors.css");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    color: white;
    background-color: var(--dark);
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.sidebar {
    background-color: var(--dark);
    color: #fff;
    width: 15%;
    max-width: 250px;
    min-width: 150px;
    padding: 0;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.content {
    margin-top:1%;
    text-align: center;
    margin-left: 15%;
    padding-left:3%;
    width: calc(100% - 15%);
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        width: 20%;
        max-width: 200px;
    }

    .content {
        margin-left: 20%;
        width: calc(100% - 20%);
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 25%;
        max-width: 180px;
    }

    .content {
        margin-left: 25%;
        width: calc(100% - 25%);
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        max-width: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}

ul {
    font-size:large;
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding: 0;
    max-width: 220px;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 2px solid #6100C2;
    box-shadow:
        0 0 10px #6100C2,
        0 0 20px #6100C2,
        0 0 30px #6100C2,
        0 0 40px #6100C2;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: var(--lightpurple);
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--purple);
    color: white;
}

.divlogo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.logo {
    max-width: 150px;
    width: 100%;
}

.user {
    width:100%;
    max-width: 350px;
}

.nome {
    font-weight:bold;
    font-size:x-large;
}

.quadro {
    background-color: black;
    border-radius:5%;
    padding:5%;
    text-align: left;
    width: 80%;
}

.dado {
    font-size:large;
    margin-top:2%;
    margin-bottom:2%;
}

.btn {
    margin-top:3%;
    color:var(--dark);
    border-radius:1px;
    font-size:18px;
    font-weight:bold;
    padding: 10px 20px;
    background-color: var(--purple);
    color: white;
    border: none;
    cursor: pointer;
    border-radius:5px;
}