* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v411_2 {
  width: 100%;
  height: 1080px;
  background: rgba(25,25,25,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v411_3 {
  width: 100%;
  height: 116px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v411_6 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 906px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v411_7 {
  width: 919px;
  height: 416px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 501px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v411_21 {
  width: 762px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 355px;
  left: 596px;
  font-family: Mulish;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v411_9 {
  width: 761px;
  background: url("../images/v411_9.png");
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 596px;
  border: 3px solid rgba(255,255,255,1);
}
.v411_14 {
  width: 761px;
  background: url("../images/v411_14.png");
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 596px;
  border: 3px solid rgba(255,255,255,1);
}
.v411_15 {
  width: 358px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 541px;
  left: 596px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v411_20 {
  width: 173px;
  height: 78px;
  background: url("../images/v411_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 890px;
  overflow: hidden;
}
.v411_18 {
  width: 173px;
  height: 78px;
  background: rgba(151,71,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v411_19 {
  width: 99px;
  color: rgba(25,24,23,1);
  position: absolute;
  top: 21px;
  left: 37px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v411_22 {
  width: 370px;
  color: url("../images/v411_22.png");
  position: absolute;
  top: 829px;
  left: 792px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v411_24 {
  width: 100%;
  height: 124px;
  background: url("../images/v411_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 927px;
  left: 72px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v411_26 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 624px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v411_27 {
  width: 261px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 941px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v411_28 {
  width: 362px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 57px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v411_30 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 906px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v415_4 {
  width: 762px;
  height: 50px;
  background: url("../images/v415_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 596px;
  overflow: hidden;
}
.v411_32 {
  width: 762px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v411_33 {
  width: 761px;
  background: url("../images/v411_33.png");
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v411_35 {
  width: 761px;
  background: url("../images/v411_35.png");
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 596px;
  border: 3px solid rgba(255,255,255,1);
}
.v411_37 {
  width: 173px;
  height: 78px;
  background: url("../images/v411_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 890px;
  overflow: hidden;
}
.v411_38 {
  width: 173px;
  height: 78px;
  background: rgba(151,71,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v411_39 {
  width: 99px;
  color: rgba(25,24,23,1);
  position: absolute;
  top: 21px;
  left: 37px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v411_40 {
  width: 370px;
  color: url("../images/v411_40.png");
  position: absolute;
  top: 829px;
  left: 792px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v411_41 {
  width: 100%;
  height: 124px;
  background: url("../images/v411_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 927px;
  left: 72px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v411_43 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 624px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v411_44 {
  width: 261px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 941px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v411_45 {
  width: 362px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 57px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v416_67 {
  width: 762px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 476px;
  left: 595px;
  font-family: Mulish;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v421_4 {
  width: 207px;
  height: 44px;
  background: url("../images/v421_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 856px;
  overflow: hidden;
}
.v411_4 {
  width: 143px;
  color: rgba(151,71,255,1);
  position: absolute;
  top: 0px;
  left: 64px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v411_29 {
  width: 143px;
  color: rgba(151,71,255,1);
  position: absolute;
  top: 0px;
  left: 64px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v421_3 {
  width: 54px;
  height: 34px;
  background: url("../images/v421_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
